
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "~bootstrap/dist/css/bootstrap.css";
@import '~bootstrap-vue/dist/bootstrap-vue.css';

.errorsBlock {
  color: red;
}

html, body { height: 100%; }